
<!-- Portfolio Grid Section -->
       <div class="container">
           <div class="row">
               <div class=" text-center">
                   <h2>Who I Am</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class=" text-center">
                   <p>I'm a CS student that had an unconventional path to Computer Science. Even though I never pursued CS in highschool, I found a passion for wriitng code and solving problems in my own spare time. Eventually I was convinced to switch into the CS program to pursue what I loved to do.</p>
               </div>
           </div>
       </div>
   </section>

   <!-- About Section -->
   <section class="success" id="aboutme" >
       <div class="container">
           <div class="row">
               <div class=" text-center">
                   <h2>What I've Done</h2>
                   <hr class="star-light">
               </div>
           </div>
           <div class="row">
               <div class=" text-center">

               </div>
           </div>
       </div>
   </section>

   <!-- Contact Section -->
   <section id="contact" >
       <div class="container">
           <div class="row">
               <div class=" text-center">
                   <h2>Contact</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class=" text-center">
         <p>If you want to contact me, send me an email at:
                   <br>Email: j26tsang@gmail.com</p>
               </div>
           </div>
       </div>
   </section>
