
<!-- Portfolio Grid Section -->
       <div class="container">
           <div class="row">
               <div class=" text-center">
                   <h2>Who I Am</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class=" text-center">
                   <p>I'm a Waterloo student that had an unconventional path to where I am today. Even though I never pursued CS in highschool, I found a passion for wriitng code and solving problems in my own spare time. Eventually I was convinced to attempt to switch from my original program into the CS program.</p>
               </div>
           </div>
       </div>
   </section>

   <!-- About Section -->
   <section class="success" id="aboutme" >
       <div class="container">
           <div class="row">
               <div class=" text-center">
                   <h2>Projects</h2>
                   <hr class="star-light">
               </div>
           </div>
           <div class="row">
               <div class=" text-center">
                 <p>Check out my projects <a href="http://jonathantsang.github.io/projects/"> here</a>
               </div>
           </div>
       </div>
   </section>

   <!-- Contact Section -->
   <section id="contact" >
       <div class="container">
           <div class="row">
               <div class=" text-center">
                   <h2>Contact</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class=" text-center">
         <p>If you want to contact me, send me an email at:
                   <br><a href="mailto:j26tsang@gmail.com"> Email: j26tsang@gmail.com</p></a>
               </div>
           </div>
       </div>
   </section>
