<div class="container">
  <div class="row">
    <img src="/about-me/pictures/linkedin.jpg" width="20%" height="20%">
    <p>Fall 2019 - Software Engineer Intern at LinkedIn</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <img src="/about-me/pictures/zenefits.png" width="20%" height="20%">
    <p>Summer 2019 - Software Engineer Intern at Zenefits</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <img src="/about-me/pictures/okta.png" width="20%" height="20%">
    <p>Summer 2018 - Software Engineer Intern at Okta</p>
  </div>
</div>
