<div class="container">
  <div class="row">
    <img src="/about-me/pictures/okta.png" width="20%" height="20%">
    Fall 2019 - Software Engineer Intern at LinkedIn
  </div>
</div>
<div class="container">
  <div class="row">
    <img src="/about-me/pictures/zenefits.png" width="20%" height="20%">
    Summer 2019 - Software Engineer Intern at Zenefits
  </div>
</div>
<div class="container">
  <div class="row">
    <img src="/about-me/pictures/linkedin.jpg" width="20%" height="20%">
    Summer 2018 - Software Engineer Intern at Okta
  </div>
</div>
