<div class="floating-box">
  <a href="{{ include.img1 }}">
    <img src="/assets/lazy/lazy.png" data-echo="{{ include.img1 }}" width="32%" height="32%">
  </a>
</div>
<div class="floating-box">
  <a href="{{ include.img2 }}">
    <img src="/assets/lazy/lazy.png" data-echo="{{ include.img2 }}" width="32%" height="32%">
  </a>
</div>
<div class="floating-box">
  <a href="{{ include.img3 }}">
    <img src="/assets/lazy/lazy.png" data-echo="{{ include.img3 }}" width="32%" height="32%">
  </a>
</div>
{% if include.caption %}
  <figcaption>{{ include.caption }}</figcaption>
{% endif %}
{% if include.caption1 %}
  <figcaption>1. {{ include.caption1 }}</figcaption>
{% endif %}

{% if include.caption2 %}
  <figcaption>2. {{ include.caption2 }}</figcaption>
{% endif %}

{% if include.caption3 %}
  <figcaption>3. {{ include.caption3 }}</figcaption>
{% endif %}
<br>
