<div class="col-md-4">
  <h2>Ladder Jump
    <a href= "https://github.com/jonathantsang/ladder-jump">
      <img src="/pictures/gcat.png" width="13%" height="13%"></a></h2>
      <img src="/projects/unity/pictures/lj.png" width="100%" height="100%">
      <br>
      <button type = "button" class = "btn btn-primary btn-lg">Made with:</button>
      <button type = "button" class = "btn btn-primary">Unity</button>
      <button type = "button" class = "btn btn-primary">C#</button>
      <p>An array based game where you jump over bombs, rotate the array and unlock doors.</p>
</div>
<div class="col-md-4">
  <h2>AmiiboPlace
    <a href= "https://amiiboplace.com">
      <img src="/projects/unity/pictures/amp.png" width="100%" height="100%">
      <br>
      <button type = "button" class = "btn btn-primary btn-lg">Made with:</button>
      <button type = "button" class = "btn btn-primary">Wordpress</button>
      <button type = "button" class = "btn btn-primary">HTML</button>
      <button type = "button" class = "btn btn-primary">CSS</button>
</div>
<div class="col-md-4">
  <h2>Mastermind
    <a href= "https://github.com/jonathantsang/ladder-jump">
      <img src="/pictures/gcat.png" width="13%" height="13%"></a></h2>
      <img src="/projects/amiiboplace/pictures/mas.png" width="100%" height="100%">
      <br>
      <button type = "button" class = "btn btn-primary btn-lg">Made with:</button>
      <button type = "button" class = "btn btn-primary">Unity</button>
      <button type = "button" class = "btn btn-primary">C#</button>
</div>
