<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>PocketMonitor
        <a href= "https://github.com/jonathantsang/pocketmonitor">
          <img src="/pictures/gcat.png" width="13%" height="13%"></a></h2>
          <img src="/projects/chrome/pictures/compact.png" width="100%" height="100%">
          <br>
          <br>
          <button type = "button" class = "btn btn-primary btn-lg">Made with:</button>
          <button type = "button" class = "btn btn-primary">Javascript</button>
          <button type = "button" class = "btn btn-primary">JQuery</button>
          <p>Chrome Extension that makes an iframe at the top of Youtube pages that scales to the size of the browser window.</p>
    </div>
    <div class="col-md-4">
          <h2>Top Down Shooter
            <a href= "https://github.com/jonathantsang/topdownshooter">
              <img src="/pictures/gcat.png" width="13%" height="13%"></a></h2>
              <img src="/projects/unity/pictures/tds.png" width="100%" height="100%">
              <br>
              <br>
              <button type = "button" class = "btn btn-primary btn-lg">Made with:</button>
              <button type = "button" class = "btn btn-primary">Unity</button>
              <button type = "button" class = "btn btn-primary">C#</button>
              <p>Top down shooter using your mouse to aim and spacebar to shoot zombies with 6 weapons.</p>
    </div>
    <div class="col-md-4">
      <h2>BomberAI
        <a href= "https://github.com/jonathantsang/BomberAI">
          <img src="/pictures/gcat.png" width="10%" height="10%"></a></h2>
          <img src="/projects/unity/pictures/bai.png" width="100%" height="100%">
          <br>
          <br>
          <button type = "button" class = "btn btn-primary btn-lg">Made with:</button>
          <button type = "button" class = "btn btn-primary">Unity</button>
          <button type = "button" class = "btn btn-primary">C#</button>
          <button type = "button" class = "btn btn-primary">IBM Watson API</button>
          <p>Basic Bomberman AI made with IBM Watson API.</p>
    </div>



      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Mastermind
        <a href= "https://github.com/jonathantsang/mastermind">
          <img src="/pictures/gcat.png" width="13%" height="13%"></a></h2>
          <img src="/projects/cplus/pictures/mas.png" width="100%" height="100%">
          <br>
          <br>
          <button type = "button" class = "btn btn-primary btn-lg">Made with:</button>
          <button type = "button" class = "btn btn-primary">C++</button>
          <p>Command-line based game where it accepts input and the player must guess the randomized code.</p>
    </div>
    <div class="col-md-4">
      <h2>Ladder Jump
        <a href= "https://github.com/jonathantsang/ladder-jump">
          <img src="/pictures/gcat.png" width="13%" height="13%"></a></h2>
          <img src="/projects/unity/pictures/lj.png" width="100%" height="100%">
          <br>
          <br>
          <button type = "button" class = "btn btn-primary btn-lg">Made with:</button>
          <button type = "button" class = "btn btn-primary">Unity</button>
          <button type = "button" class = "btn btn-primary">C#</button>
          <p>An array based game where you jump over bombs, rotate the array and unlock doors.</p>
    </div>

  </div>
</div>
