<div class="container">
  <div class="row">
    <div class="col-md-4">
          <h2>Investera
            <a href= "https://github.com/jonathantsang/MhacksX2017">
              <img src="/pictures/gcat.png" width="13%" height="13%"></a>
              <a href="https://devpost.com/software/investera">
                <img src="/projects/webapp/pictures/devpost.svg" width="25%" height="25%">
              </a>
            </h2>
              <img src="/projects/webapp/pictures/investera.jpg" width="100%" height="100%">
            <p>Made with:
              <button type = "button" class = "btn btn-primary">Javascript</button>
              <button type = "button" class = "btn btn-primary">NodeJS</button>
              <button type = "button" class = "btn btn-primary">MixMax API</button>
              <button type = "button" class = "btn btn-primary">Wolfram Alpha API</button>
              <button type = "button" class = "btn btn-primary">Coinbase API</button>
              <button type = "button" class = "btn btn-primary">Blackrock API</button>
            </p>
            <p>
              Mixmax slash command for stocks embedded in emails using Wolfram API.
              Supports stocks, stock comparisons, date ranges, and plotting of graphs in email.
              Also uses Coinbase compatibility and shows Blackrock data.
              Won Best Use of Wolfram API and Best Use of the Mixmax API at MHacks X.
            </p>
    </div>
    <div class="col-md-4">
      <h2>Microtransaction Simulator
        <a href= "https://github.com/jonathantsang/Micro-Simulator">
          <img src="/pictures/gcat.png" width="13%" height="13%"></a>
          <a href="http://store.steampowered.com/app/689090/Microtransaction_Simulator/">
            <img src="/projects/unity/pictures/steam_logo.png" width="13%" height="13%">
          </a>
          </h2>
          <img src="/projects/unity/pictures/capsule_lg.png" width="100%" height="100%">
          <p>Made with:
          <button type = "button" class = "btn btn-primary">Unity</button>
          <button type = "button" class = "btn btn-primary">C#</button>
          <button type = "button" class = "btn btn-primary">Steamworks.NET</button>
          <button type = "button" class = "btn btn-primary">Steam Developer APIs</button>
          </p>
          <p>Probability based game built on the saturated microtransaction market. Published as a free to play game on the Steam Store.</p>
    </div>
    <div class="col-md-4">
      <h2>Basic Identity Token
        <a href= "https://github.com/kaustavha/ethwaterloo-bit">
          <img src="/pictures/gcat.png" width="13%" height="13%"></a>
      </h2>
          <img src="/projects/webapp/pictures/bit.png" width="100%" height="100%">
          <p>Made with:
          <button type = "button" class = "btn btn-primary">NodeJS</button>
          <button type = "button" class = "btn btn-primary">React</button>
          <button type = "button" class = "btn btn-primary">Solidity</button>
          </p>
          <p>A login with Facebook button for web3.0 dapps. Won Storj.io prize. Built at ETHWaterloo</p>
    </div>
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Interest.Invest
        <a href= "https://github.com/jonathantsang/StocksForNoobs">
          <img src="/pictures/gcat.png" width="13%" height="13%"></a>
          <a href="https://interestinvest.herokuapp.com/">
            <img src="/projects/webapp/pictures/heroku.png" width="13%" height="13%">
          </a>
      </h2>
          <img src="/projects/webapp/pictures/interestinvest.png" width="100%" height="100%">
          <p>Made with:
          <button type = "button" class = "btn btn-primary">NodeJS</button>
          <button type = "button" class = "btn btn-primary">BlackRock Aladdin API</button>
          <button type = "button" class = "btn btn-primary">Google Finance API</button>
          </p>
          <p>Web app that finds stocks related to the user's input and gives stock recommendations. Built at PennApps XVI.</p>
    </div>
    <div class="col-md-4">
      <h2>PocketMonitor
        <a href= "https://github.com/jonathantsang/pocketmonitor">
          <img src="/pictures/gcat.png" width="13%" height="13%"></a></h2>
          <img src="/projects/chrome/pictures/compact.png" width="100%" height="100%">
          <p>Made with:
          <button type = "button" class = "btn btn-primary">Javascript</button>
          <button type = "button" class = "btn btn-primary">JQuery</button>
          </p>
          <p>Chrome Extension that makes an iframe at the top of Youtube pages that scales to the size of the browser window.</p>
    </div>
    <div class="col-md-4">
      <h2>BomberAI
        <a href= "https://github.com/jonathantsang/BomberAI">
          <img src="/pictures/gcat.png" width="10%" height="10%"></a></h2>
          <img src="/projects/unity/pictures/bai.png" width="100%" height="100%">
          <p>Made with:
          <button type = "button" class = "btn btn-primary">Unity</button>
          <button type = "button" class = "btn btn-primary">C#</button>
          <button type = "button" class = "btn btn-primary">IBM Watson API</button>
          </p>
          <p>Basic Bomberman AI made with IBM Watson API.</p>
    </div>
  </div>
</div>
